

.btn_login{
 -fx-background-color: #2197f3;
 -fx-font-family:Tahoma;
 -fx-font-size:22px;
 -fx-text-fill: #FFF;
 -fx-background-radius: 20px;
}

 
.btn_login:hover{
    -fx-cursor:hand;
    -fx-border-color: #2196f3;
    -fx-border-videth:3px;
    -fx-border-radius: 20px;
    -fx-background-color: #FFF;
    -fx-text-fill: #000;
    -fx-font-veight:bold;
}
.btn_login{
    -fx-rotate: 0;
}